{% import "../../macros/lua.njk" as lua %}
{{- lua.renderAppendTimestamp(typeTag) }}

[FILTER]
    Name modify
    Match {{typeTag}}
    Add event.kind metric
    Add event.category process
    Add event.dataset process.info
    Add event.type info
    Add labels.project {{ app | lower }}{% if organization_id %}
    Add organization.id {{ organization_id }}{% endif %}{% if organization_name %}
    Add organization.name {{ organization_name }}{% endif %}
    Add process.name fluent-bit.exe
    Add service.name {{ component | lower }}{% if environment %}
    Add service.environment {{ environment }}{% endif %}
    Add @metadata.keyAsPath true

[FILTER]
    Name     throttle
    Match    {{typeTag}}
    Rate     1
    Window   2
    Interval {{inputIntervalSec}}s
