
[FILTER]
    Name modify
    Match {{typeTag}}{% if organization_id %}
    Add organization.id {{ organization_id }}{% endif %}{% if organization_name %}
    Add organization.name {{ organization_name }}{% endif %}
    Add @metadata.keyAsPath true
    Add @metadata.environmentStandardize true
