#!/bin/bash

timeout .5 df -P | grep {{mountPath}}$ | \
  {{appPathJq}} -R -s '
    {
      host: (if (length > 0) then {
        disk: gsub(" +"; " ") | gsub("\n"; "") | split(" ") | {
          mount: .[5] ,
          total: .[1] | tonumber,
          free: .[3] | tonumber,
          used: .[2] | tonumber,
          used_percentage: ((.[2] | tonumber) / ((.[2] | tonumber) + (.[3] | tonumber)))
        }
      } else empty end)
    }' | \
    {{appPathJq}} -c
